body {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    height: 100vh; /* Hauteur de la fenêtre */
    margin: 0; /* Supprime les marges par défaut */
    text-align: center; /* Centre le texte */
    background-image: url('media/nuit-pluie-dans-rue.avif');
    background-size: cover; /* Couvre tout l'écran */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    color: whitesmoke;
}

tr {
    height: 150px;
    width: 150px;
}

td,th {
    border: 1px solid whitesmoke;
    font-size: 60px;
    text-align: center;
    cursor: pointer;
    height: 50px;
    width: 50px;


    user-select: none;
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
}

td:hover {
            background-color: rgba(245, 245, 245, 0.5);
            color: black;

}

table {
    border: 1px solid whitesmoke;
    height: 500px;
    width: 500px;
}

h1,h2 {
    text-align: center;
}

#resultats{

    margin-top: 10px;

}

#textSX{
    font-weight: bold;
}
#textSO{
    font-weight: bold;
}
