body {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    height: 100vh; /* Hauteur de la fenêtre */
    margin: 0; /* Supprime les marges par défaut */
    text-align: center; /* Centre le texte */
}

tr {
    height: 150px;
    width: 150px;
}

td {
    border: 1px solid black;
    font-size: 60px;
    text-align: center;
    cursor: pointer;
    height: 50px;
    width: 50px;


    user-select: none;
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
}

td:hover {
            background-color: #f0f0f0;

}

table {
    border: 1px solid black;
    height: 500px;
    width: 500px;
}

h1,h2 {
    text-align: center;
}


